<p>employee-details works!</p>

<div class="card">
    <div class="card-header"
         *ngIf="employee">
      {{pageTitle + ": " + employee.firstName}}
    </div>
  
    <div class="card-body"
         *ngIf="employee">
  
      <div class="row">
  
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-6">{{employee.firstName + " " +employee.lastName}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">age:</div>
            <div class="col-md-6">{{employee.age}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">designation:</div>
            <div class="col-md-6">{{employee.designation}}</div>
          </div>
        </div>
  
        <!-- <div class="col-md-4"
             *ngIf="product.imageUrl">
          <img class="center-block img-responsive"
               [style.height.px]="150"
               [style.margin.px]="2"
               [src]="product.imageUrl"
               [title]="product.productName">
        </div> -->
      </div>
  
      <div class="row mt-4">
        <div class="col-md-4">
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px"
                  (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back
          </button>
          <button class="btn btn-outline-primary"
                  style="width:80px"
                  [routerLink]="['/employees', employee.id, 'edit']">
            Edit
          </button>
        </div>
      </div>
  
    </div>
  
    <!-- <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div> -->
  </div>
